<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Catalogos lista</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre catalogo</th>
        <th>Codigo catalogo</th>
    </tr>
    <tr th:each="catalogo:${catalogos}">
        <td th:text="${catalogo.id}">asdad</td>
        <td th:text="${catalogo.name}">asda</td>
        <td th:text="${catalogo.codigo}">asdad</td>

    </tr>
</table>
</body>
</html>